# security-check
---
name: Cookiecutter Template Security Audit

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  security-audit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install pip-audit
        run: |
          make install

      - name: Run Security Audit
        run: |
          make security
