# spellcheck
---
name: Cookiecutter Template Spellcheck

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  spellcheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install codespell
        run: |
          make install

      - name: Run Spellcheck
        run: |
          make spellcheck
